<div class="col-md-6 mb-2 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Salas de {{user.name}}</h2>
        </div>
        <ul class="list-group list-group-flush">
            {{#if rooms}}
            {{#each rooms}}
            <li class="list-group-item d-inline d-flex justify-content-between">
                <div class="d-flex justify-content-end d-inline">
                    <a href="" class="btn btn-primary">{{name}}</a>
                </div>
                <div class="d-flex justify-content-end d-inline">
                    <a class="dropdown-item btn btn-danger d-inline" href="/delete/{{_id}}"><i
                            class="fa fa-trash-alt"></i></a>
                    <a class="dropdown-item btn btn-success d-inline" href="/edit/{{_id}}"><i class="fa fa-pen"></i></a>

                </div>
            </li>
            {{/each}}
            {{else}}
            <h4 class="card-title text-center">No tienes salas creada <h4>
                    {{/if}}
        </ul>
    </div>
    <div class="card" style=" margin: auto; text-align: center;">
        <div class="card-body">
            <form action="/create" method="POST" class="form-signin">
                <div class="form-label-group form group">
                    <input type="text" id="name" name="name" class="form-control text-center text-uppercase"
                        placeholder="Nombre de la sala">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Crear una sala</button>
                </div>
            </form>
        </div>
    </div>
</div>