<div class="mb-2 mx-auto contApp">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center">
                    {{#if user}}
                    <a href="/rooms" class="btn btn-primary text-white"><i class="fas fa-arrow-left"></i></a>
                    {{/if}}
                    <h2 style="margin: 0 0 0 10px;">{{room.name}}</h2>
                    <h2 id="room_id" style="margin: 0 0 0 10px; display:none;">{{room._id}}</h2>
                    <h2 id="firebasURL" style="margin: 0 0 0 10px; display:none;">{{firebaseURL}}</h2>
                </div>
            </div>
            <div class="mr-0">
                {{#if room.isOpen}}
                <a class="btn btn-success text-white" data-toggle="modal" data-target="#addPersonModal">Agregar <i
                        class="fas fa-user-plus"></i></a>
                {{else}}
                    <h4 style="margin: 5px 0 0 10px;">Sala cerrada</h4>

                {{/if}}
                {{#if user}}
                <a href="/logout" class="btn btn-success"><i class="fas fa-sign-out-alt"></i></a>
                {{/if}}
            </div>
        </div>
        <ul class="list-group list-group-flush" id="listMember">
            {{#if room.users.member}}
            {{#each room.users.member}}
            <li class="list-group-item d-inline d-flex justify-content-between ">
                <div class="">
                    <a class="btn btn-primary btn-block text-white">{{name}}</a>
                </div>
                {{#if @root.room.isOpen}}
                <div class="">
                    <a class="align-bottom dropdown-item btn btn-danger d-inline eventMember"
                        onclick=eventMember("/api/member/delete/{{@root.room._id}}/{{pos}}")> <i
                        class="fa fa-trash-alt"></i></a>
                    <a class="dropdown-item align-bottom btn btn-success d-inline"
                        onclick="editMember('{{@root.room._id}}',{{pos}},'{{name}}','{{password}}')"><i
                            class="fa fa-pen"></i></a>
                </div>
                {{else}}
                <div class="">
                    <a class="btn btn-success d-inline text-white eventMember" onclick="viewMatch('{{name}}','{{match}}')">Quien me tocó <i class="fa fa-eye"></i></a>
                </div>
                {{/if}}
            </li>
            {{/each}}
            {{else}}
            <li class="list-group-item d-inline d-flex justify-content-between ">
                <div class="">
                    <h4 class="card-title text-center">No tienes miembros en esta sala <h4>
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
</div>
{{#if user}}
<div class="col-lg-9 mb-2 mx-auto">
    <div class="card my-3" style=" margin: auto; text-align: center;">
        <div class="card-body">
            <button class="btn btn-secondary" type="submit">Probar Repartir</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertDistribute">Repartirlos
                papeles</button>
        </div>
    </div>
</div>
<p>{{room.isOpen}}</p>
{{>alertDistribute}}
{{/if}}
{{>distributing}}
{{>addPerson}}
{{>editPerson}}
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>
<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-database.js"></script>


{{#if room.isOpen}}
<script>
    const formEditMember = document.querySelector("#editMember");
    const formAction = $('#editMember').attr('action')
    console.log(formEditMember)
    function editMember(_id, pos, name, password) {
        const action = formAction + '/' + pos
        console.log(_id, pos, name, password, formAction, action)
        $('#nameEditMember').val(name)
        $('#passwordEditMember').val(password)
        $('#posEditMember').val(pos)
        $('#editMember').attr('action', action)
        $('#editPersonModal').modal('show')
    }

    $('#addMember').click((event) => {
        event.preventDefault();
        const data = {
            name: $('[name="name"]').val(),
            password: $('[name="password"]').val()
        }
        var url = $('#addMemberForm').attr('action')
        eventMember(url, data)
        $('[name="name"]').val('')
        $('[name="password"]').val('')
        $('#addPersonModal').modal('hide')
    })

    $('#editMember').on('submit', e => {
        e.preventDefault()
        const data = {
            name: $('#nameEditMember').val(),
            password: $('#passwordEditMember').val()
        }
        var url = $('#editMember').attr('action')
        eventMember(url, data)
        $('#editPersonModal').modal('hide')
    })

    function eventMember(url, data) {
        console.log(url)
        fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => console.log(res))
    }

    const firebaseURL = $('#firebasURL').text()
    firebase.initializeApp({ databaseURL: firebaseURL });
    console
    var database = firebase.database();
    const room_id = $('#room_id').text()
    var room = database.ref('rooms/' + room_id)
    var check = false
    room.on('value', function (snapshot) {
        users = snapshot.val();
        const usersParse = JSON.parse(users)
        console.log(usersParse)
        console.log(usersParse.member)
        if (usersParse.mix) {
            room.off('value')
            $('#distributing').modal('show')
            let count = 5
            var redirect = setInterval(() => {
                count--
                $('#redirectPapers').text(count)
                if (!count) {
                    count = 0;
                    clearInterval(redirect)
                    setTimeout(()=>{
                        location.reload()
                    },500)
                }
            }, 1000)
        }
        if ((users) && (check)) {
            console.log(usersParse.member)
            $('#listMember')[0].innerHTML = ""
            usersParse.member.forEach(x => {
                const render = template(x, room_id)
                $('#listMember').append(render)
            })
        }
        check = true
    })

    const template = ({ name, pos, password }, _id) => ` <li class="list-group-item d-inline d-flex justify-content-between ">
            <div class="">
                <a class="btn btn-primary btn-block text-white">${name}</a>
            </div>
            <div class="">
                <a class="align-bottom dropdown-item btn btn-danger d-inline"
                     onclick="eventMember('/api/member/delete/${_id}/${pos}')"><i class="fa fa-trash-alt"></i></a>
                <a class="dropdown-item align-bottom btn btn-success d-inline" onclick="editMember('${_id}',${pos},'${name}','${password}')"><i class="fa fa-pen"></i></a >
                </div >
            </li >`
</script>
{{else}}
{{>viewMatch}}
{{/if}}